body {
  display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    justify-content: flex-start;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.postContent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 2vw;
}
.title{
  font-size: 50px;
  display: flex;
  font-weight: 700;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.postBox{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 5px;
  border-style: double;
  border-radius: 10px;
  padding: 10px;
}
.postName{
  margin: 0px;
}
.topContent{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.userBtn{
  color: #00B7FF;
    font: inherit;
    text-decoration: underline;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}
h1{
  margin-bottom: 0px;
}
.deleteBtn{
  padding: 5px;
  border-color: red;
  border-radius: 10px;
  color: red;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
}
.updateBtn{
  padding: 5px;
  border-color: #00B7FF;
    border-radius: 10px;
    color: #00B7FF;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
}